@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Poppins' , 'arial';
    
  
}
ul{
    list-style-type: none;
    margin: 0;
    display: inline-flex;  
}


a{
    text-decoration: none;
}
img{
    width: 100%;
}
.nav-container{
    background: #9C5BFF;
}
.nav-container a{
    color: white;
}

.mainbg .content .button2{
    position: absolute;
    float: left;
    margin-top: 460px;
    margin-left: -550px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header ul{
    margin-left: -20em;
 }

header ul li{
    margin-right: 2em;
}

.socials-header, .designbox{
    display: none;
}
.mainbg{
    background: #A468FF;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
      
}
.content h1 {
    display: flex; 
}
.content h1 span{
    margin-top: 2em;
    display: flex;
}

.meet h3{
    display: flex;
    width: 200px;
    font-weight: bold;
    color: #D6FF00;
    position: relative;
    margin-left: -.1em;
    font-size: 20em;
    
    
}

.meet span{
    margin-top: 1em;
    margin-right: .5em;
}

section .title1{
    margin: 0 auto;
    margin-top: 4em;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: -2em;
}



.bgtwo{
    position: absolute;
    z-index: -1;
    width: 150em;
    margin-top: -70px;
    background-repeat: no-repeat;
    width: 100%;
}

.bgthree{
    position: absolute;
    z-index: -1;
    width: 150em;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}


.portfolio{
    background-image: url(svg/bg3.png);
    background-position: top;
  
}

.skills-container ul li{
    padding: 2em;
    margin-bottom: 1em;
  
}

.skills-container .image-container{
    height: 100px;
    display: grid;
    place-content: center;
    text-align:center;
    margin: 0 auto; 
    
}

.skills-container #one{
    width: 28em;
    margin-top: 15em;
   
}

.skills-container #two{
    width: 29em;
    margin-top: 15em;
    margin-left: -1em;
    
}

.skills-container #three{
    width: 39em;
    margin-top: 15em;
    display: unset;
    margin-left: -12em;
    
}

.skill-title{
    font-weight: bolder;
    margin-top: 11em;
    text-align: center;
    font-size: 20px;
    
    
}
.desc{
    margin: 2em;
    text-align: center;
    
    
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .title{
    margin: 0 auto;
    margin-top: 5em;
    font-size: 3em;
    font-weight: bold;
}

.card {
    perspective: 1000px;
    margin: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr ;
    margin-left: -em;
    transition: all 1s ease;
    transform-style: preserve-3d;

}
.card-front {
    grid-area: 1 / 1;
    transform: rotateY(180deg);
}

.card-back {
    grid-area: 1 / 1;
    z-index: 1;
}

.card-container img {
    width: 11rem;
    
}

.card:hover .card-container {
    transform: rotateY(180deg);
}


.portfolio img{
    position: absolute;
    margin-top: 2em;
    width: 16em;
}

.portfolio .seagaming{
    position: absolute;
    margin-left: 20em;
    margin-top: -20px;
    box-shadow: 5px 5px 8px #888888;

}

.portfolio .gotravel{
    position: absolute;
    margin-left: 21.5em;
    margin-top: 140px;
    box-shadow: 5px 5px 8px #888888;

}

.portfolio .weorder{
    position: absolute;
    margin-left: 19em;
    margin-top: 150px;
    box-shadow: 5px 5px 8px #888888;

}

.portfolio .inner1{
    margin-top: -20px; 
}

.portfolio .inner2{
    margin-top: 9em; 
    margin-left: 4em;
}

.portfolio .inner3{
    margin-top: 10em; 
    margin-left: -5.7em;
}

.button1 {
    background-color: #0c6da1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .button2 {
    background-color: #E7B409;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
  .button3 {
    background-color: #0A632A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

.recentworks{
    font-size: 50px;
    font-weight: bold;
    margin-top: 300px;
}
hr.line1{
    border: 2px solid #FF8DFF; 
    max-width: 100px;
    margin-top: -30px;
}

.portfolio .subtitle{
    font-weight: bold;
    font-size: 20px;
}



@media only screen and (min-width: 800px){

.portfolio{
    text-align: left;
}

.portfolio-container{
    display: grid;
    grid-template-columns: 33% auto;
}

.left, .portfolio-left{
    display: grid;
    place-content: center;
}

.right{
    margin-left: 2em;
    margin-top: 10em;
}

.skills{
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
}

.skills-container ul{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1em;
    display: flex;
    }
}






.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #FF8DFF;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }


@media only screen and (min-width: 1050px){
    .mainbg{
        height: 90vh;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    }
    .nav-container header{
        background: #9C5BFF;
    }

    header{
        padding: 2em 2em 2em 4em;
    }
    .socials-header{
        padding: 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }
    .socials-header{
        display: block;

    }

    .socials-header ul{
        display: flex;
        justify-content: space-between;
        width: 7em;
        float: right;
    }
    .nav-container header nav{
        display: inline-flex;
        justify-content: space-between;
        width: 7em;
    }   
    
    .socials-header ul #fb{
        width: 11px;
    }
    .socials-header ul #be{
        width: 25px;
    }
    .socials-header ul #in{
        width: 19px;
    }

    .mainbg{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
    }

    .mainbg .content{
        background: #A468FF;
        padding: 6em 8em 6em 4em;
        text-align: left;
    }
    

    .mainbg .content h1{
            font-size: 5em;
            line-height: -10em;
            margin: 0 auto;
            display: grid;
            margin-top: 1em;    
            float: left;
    }
    .mainbg .content h3{
            font-size: 1.5em;
            line-height: 1.2em;
            font-weight: lighter;
            text-align: left;
            margin-top: 15em;
            margin-left: 5px;
            position: absolute;
    }

    
.mousescroll{
    width: 40px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 48px;
    position: absolute;
    margin-top: 36em;
    margin-left: 10px;
}

.mousescroll::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 25px;
    background-color: #fff;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    animation: scroll 2s infinite;
}

@keyframes scroll{
    from{
        opacity: 1;
        top: 10px;
    }
    to{
        opacity: 0;
        top: 40px;
    }
}
    .designbox{
        display: unset;
        margin-left: -40%;
        margin-top: -2%;
        width: 45em;
    }

    .portfolio img{
        float: right;
        max-width: 500px;
        position: relative;
    }

}

@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 4em;
    }
    .socials-header{
        padding: 2em 4em 2em 0;
    }
}
    



